<p>以下のリンクをクリックして下さい。パスワード再設定画面に移行します。</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>
<p>このリンクの有効期限は２時間です。<br>
パスワードの再設定を希望しない場合はこのメールを無視してください。</p>
