<% provide(:action, "update") %>
<% provide(:button_text, "編集") %>
<div class="clearfix review_form">
  <div class="title">
    <h1>投稿編集</h1>
  </div>
  <div class="review_form_inner">
    <%= render "recruitments_form" %>
  </div>
</div>
