<% provide(:action, "create") %>
<% provide(:button_text, "投稿") %>
<div class="clearfix review_form">
  <div class="title">
    <h1>フレンド募集投稿</h1>
  </div>
  <div class="review_form_inner">
    <%= render "recruitments_form" %>
  </div>
</div>
