<% provide(:url, user_path) %>
<% provide(:button_text, "更新") %>
<div class="registration-form">
  <div class="clearfix name_and_image">
    <% if @user.profile_image.attached?%>
      <%= image_tag @user.profile_image.variant(resize:'80x80').processed, class: "profile_image" %>
    <% else %>
      <%= image_tag 'NO_IMAGE2.jpeg', class: "no_image" %>
    <% end %>
    <p class="user_name"><%= @user.name %></p>
  </div>
  <div class="form">
    <%= render "form" %>
  </div>
</div>
