<% provide(:url, signup_path) %>
<% provide(:button_text, "登録") %>
<div class="registration-form">
  <h1>gamecriticへようこそ！</h1>
  <p>新規登録して利用を開始しましょう。</p>
  <div class="form">
    <%= render "form" %>
  </div>
</div>
