<% provide(:size, "100x100") %>
<div class="profile">
  <div class="name_and_image">
    <%= render "users/profile_image", user: @user %>
    <p class="user_name"><%= @user.name %></p>
  </div>
</div>

