<% provide(:action, "update") %>
<% provide(:button_text, "編集") %>
<div class="registration-form">
  <div class="clearfix name_and_image">
    <div class="user_name">
      <h1>ゲームデータ編集</h1>
    </div>
  </div>
  <div class="form games_form">
    <%= render "games_form" %>
  </div>
</div>
