<% provide(:action, "create") %>
<% provide(:button_text, "投稿") %>
<div class="registration-form">
  <div class="clearfix name_and_image">
    <div class="user_name">
      <h1>ゲームデータ投稿</h1>
    </div>
  </div>
  <div class="form games_form">
    <%= render "games_form" %>
  </div>
</div>
