/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

html {
  font-size: 62.5%;
  a:hover {
    text-decoration: none;
  }
}

// header
header {
  nav {
    max-width: 1050px;
    height: 90px;
    padding: 0 20px;
    margin: 0 auto;
    #logo {
      font-size: 3rem;
      margin-top: 16px;
    }
    ul {
      height: 80px;
      float: right;
      width: 280px;
      text-align: right;
      li {
        font-size: 2rem;
        margin-top: 30px;
        a {
          margin-right: 10px;
        }
        .dropdown-item {
          font-size: 1.5rem;
          width: 130px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

// wrapper
.wrapper {
  max-width: 970px;
  padding: 20px;
  margin: 30px auto 0;
}

// users index
.users {
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    .profile_image {
      border-radius: 50%;
    }
    .no_image {
      border-radius: 50%;
      width: 90px;
      height: 90px;
    }
    a {
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
    .name {
      margin-left: 20px;
      font-size: 2rem;
      color: black;
    }
    .delete {
      font-size: 1.5rem;
      color: #007bff;
      margin-left: 13px;
    }
    .delete:hover {
      color: #0056b3;
    }
  }
}

// users show
.profile {
  .profile_image {
    border-radius: 50%;
  }
  .no_image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  .user_name {
    display: inline;
    font-size: 2.5rem;
    vertical-align: middle;
    margin-left: 10px;
  }
}

// form
.registration-form {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    margin-top: 20px;
  }
  .form {
    width: 600px;
    margin-top: 20px;
    label {
      font-size: 1.7rem;
    }
    input {
      font-size: 1.7rem;
    }
    .btn {
      height: 40px;
      width: 140px;
    }
    .password-reset {
      margin-top: 10px;
      a {
        font-size: 1.5rem;
      }
    }
    #file_field {
      font-size: 1.3rem;
      height: 35px;
      margin-top: 10px;
    }
    .delete_image {
      height: 30px;
      padding-top: 7px;
      span {
        font-size: 1.4rem;
      }
      #user_remove_profile_image {
        margin-left: 8px;
      }
    }
  }
  .name_and_image {
    .profile_image {
      border-radius: 50px;
    }
    .no_image {
      border-radius: 50px;
      width: 90px;
      height: 90px;
    }
    .user_name {
      margin-left: 10px;
      font-size: 2.5rem;
      display: inline;
    }
  }
}

// games form
.games_form {
  select {
    font-size: 1.6rem;
    vertical-align: middle;
  }
  textarea {
    font-size: 1.4rem;
  }
  #file_field {
    font-size: 1.4rem;
    height: 36px;
  }
}

// games index
.index_games {
  div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .index_game_info {
    .index_jacket {
      width: 150px;
      float: left;
    }
    .index_jacket:hover {
      opacity: 0.7;
    }
    .index_score {
      width: 100px;
      float: left;
      margin: 0;
      text-align: center;
      p {
        font-size: 1.4rem;
        margin-bottom: 0;
      }
      .average_score {
        width: 60px;
        height: 60px;
        padding-top: 17px;
        margin-top: 10px;
        text-align: center;
        span {
          font-size: 2.7rem;
        }
      }
      .user_score_wrapper {
        margin-top: 10px;
        p {
          font-size: 1.4rem;
          margin-bottom: 0;
        }
        .user_score {
          width: 50px;
          height: 50px;
          padding-top: 12px;
          margin-top: 10px;
          text-align: center;
          span {
            font-size: 2.4rem;
          }
        }
      }
    }
    .index_info {
      width: 540px;
      float: left;
      margin: 0 20px 0;
      list-style: none;
      h3 {
        margin-bottom: 5px;
      }
      a {
        color: black;
      }
      a:hover {
        opacity: 0.5;
      }
      p {
        font-size: 1.4rem;
        margin-bottom: 5px;
      }
      .summary_second_wrapper {
        padding-bottom: 14px;
        margin-top: 10px;
        position: relative;
        .less_summary {
          height: 100px;
          overflow: hidden;
        }
        .summary {
          font-size: 1.4rem;
          margin-bottom: 0px;
        }
        .expand {
          color: darkgray;
          position: absolute;
          bottom: 0;
          right: 10px;
          cursor: pointer;
        }
      }
    }
  }
}

// games show
.game_info {
  .jacket {
    float: left;
    width: 280px;
  }
  .score {
    width: 120px;
    float: left;
    div {
      p {
        font-size: 1.6rem;
        text-align: center;
      }
    }
    .score_inner_top {
      margin-bottom: 30px;
      text-align: center;
      .average_score {
        width: 80px;
        height: 80px;
        padding-top: 20px;
        span {
          font-size: 4rem;
        }
      }
    }
    .score_inner_bottom {
      text-align: center;
      .user_score {
        width: 70px;
        height: 70px;
        padding-top: 15px;
        span {
          font-size: 4rem;
        }
      }
      .no_score {
        font-size: 1rem;
        text-align: left;
        margin-bottom: 0;
        color: dimgray;
      }
      .new_review_1 {
        height: 30px;
        width: 120px;
        font-size: 1.4rem;
        padding: 4px;
        margin-top: 10px;
      }
    }
  }
  .info {
    float: left;
    width: 480px;
    margin-left: 30px;
    .release_date, .developer, a {
      font-size: 1.4rem;
    }
    .summary_second_wrapper {
      padding-bottom: 15px;
      position: relative;
      .summary {
        font-size: 1.4rem;
        margin-bottom: 0px;
      }
      .less_summary {
        font-size: 1.4rem;
        height: 210px;
        overflow: hidden;
      }
      a {
        color: darkgray;
        position: absolute;
        bottom: 0;
        right: 10px;
      }
      a:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
}
.youtube {
  margin-top: 20px;
}

// review index
.new_review_2 {
  height: 30px;
  width: 120px;
  font-size: 1.4rem;
  padding: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.review_header {
  width: 800px;
  height: 50px;
  margin-top: 15px;
  border-bottom: solid 5px dimgray;
  .nav-item {
    text-align: center;
    font-size: 1.7rem;
    width: 400px;
    height: 50px;
    padding-top: 7px;
    .nav-link {
      color: black;
    }
  }
  .nav-item:hover {
    opacity: 0.7;
    .nav-link {
      border: none;
    }
  }
  .active {
    border: solid 2px dimgray;
    border-radius: 7px 7px 0 0;
    background-color: dimgray;
    .nav-link {
      color: white;
    }
  }
  .inactive {
    border-bottom: solid 5px dimgray;
    border-radius: 7px 7px 0 0;
    background-color: whitesmoke;
    .nav-link {
      color: black;
    }
  }
}
.review_wrapper {
  width: 800px;
  background-color: lightsteelblue;
  position: relative;
}
.review_pagenation_top {
  font-size: 1.3rem;
  .page-link {
    color: #333333;
  }
  position: absolute;
  top: 20px;
  left: 20px;
}
.review_pagenation_bottom {
  font-size: 1.3rem;
  .page-link {
    color: #333333;
  }
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.index_reviews {
  padding: 100px 15px 100px 15px;
  margin: 0 auto;
  .card {
    width: 650px;
    margin: 0 auto;
    .score {
      width: 50px;
      height: 50px;
      padding-top: 10px;
      float: left;
      span {
        font-size: 3rem;
      }
    }
    .review_content {
      float: left;
      width: 480px;
      padding-left: 20px;
      .user_name {
        font-size: 1.8rem;
        color: black;
      }
      .user_name:hover {
        opacity: 0.7;
      }
      .card-title {
        font-size: 1.8rem;
        margin-bottom: 0px;
      }
      .text_second_wrapper {
        padding-bottom: 15px;
        margin: 10px 0 10px;
        position: relative;
        .text_first_wrapper {

        }
        .card-text {
          font-size: 1.4rem;
          margin-bottom: 0px;
        }
        .less_text {
          height: 100px;
          overflow: hidden;
        }
        .expand {
          color: darkgray;
          position: absolute;
          bottom: 0;
          right: 10px;
          cursor: pointer;
        }
      }
    }
    .images {
      text-align: center;
      a:hover {
        opacity: 0.7;
      }
      .modal-content {
        background-color: ghostwhite;
        button {
          background-color: ghostwhite;
        }
      }
    }
    .review_manage {
      margin-top: 5px;
    }
  }
  .card:nth-child(n + 2) {
    margin-top: 5px;
  }
}

// recruitment index
.recruitment_wrapper {
  width: 800px;
  background-color: moccasin;
  position: relative;
  .index_recruitments {
    padding: 100px 20px 100px 20px;
    .card {
      width: 370px;
      height: 220px;
      .card-body {
        padding: 10px;
      }
      .user_name {
        font-size: 1.5rem;
        color: black;
        margin-left: 5px;
      }
      .user_name:hover {
        opacity: 0.7;
      }
      .profile_image {
        border-radius: 50%;
      }
      .no_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: gray;
        margin-bottom: 0px;
      }
      .description_second_wrapper {
        width: 348px;
        background-color: white;
        padding-bottom: 15px;
        .description {
          font-size: 1.2rem;
          margin-bottom: 0px;
        }
        .modal_link {
          font-size: 1.2rem;
          color: darkgray;
        }
        .modal_link:hover {
          opacity: 0.7;
        }
      }
      .content{
        margin: 0 auto;
        padding: 40px;
      }
      .modal {
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        .modal__bg {
          background: rgba(0,0,0,0.8);
          height: 100vh;
          position: absolute;
          width: 100%;
        }
        .modal__content {
          background: #fff;
          left: 50%;
          padding: 40px;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 60%;
          .card-title, .description {
            font-size: 1.2rem;
          }
        }
      }
    }
    .card:nth-child(odd) {
      float: left;
    }
    .card:nth-child(even) {
      float: right;
    }
    .card:nth-child(n + 3) {
      margin-top: 15px;
    }
  
  }
}
.new_recruitment_button {
  height: 30px;
  width: 150px;
  font-size: 1.4rem;
  padding: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
}
// recruitment form
#description {
  height: 200px;
  font-size: 1.4rem;
}

// score badge color
.green {
  background-color: #28a745;
}
.yellow {
  background-color: #ffd700;
}
.red {
  background-color: red;
}

// error messages
#error_explanation {
  font-size: 1.5rem;
}

// alert
.alert {
  font-size: 1.5rem;
}

// review form
.review_form {
  // height: 400px;
  width: 600px;
  .title {
    margin-top: 20px;
    h1 {
      font-size: 3rem;
    }
  }
  .review_form_inner {
    margin-top: 20px;
    span {
      font-size: 1.1rem;
      vertical-align: 20%;
      color: gray;
      margin-left: 10px;
    }
    label {
      font-size: 2rem;
    }
    #score {
      width: 220px;
      height: 40px;
      font-size: 1.5rem;
    }
    #title {
      width: 600px;
      height: 40px;
      font-size: 1.4rem;
    }
    #review {
      width: 600px;
      height: 200px;
      font-size: 1.4rem;
    }
    #file_field {
      font-size: 1.4rem;
      height: 36px;
    }
    .field_with_errors {
      display: inline;
    }
    .file_number {
      font-size: 2rem;
      vertical-align: 0%;
      color: black;
    }
    .btn {
      height: 40px;
      width: 140px;
      font-size: 1.8rem;
      padding-top: 6px;
    }
  }
}

// page nation
.page {
  margin: 20px 0;
  font-size: 1.3rem;
  .page-link {
    color: #333333;
  }
}

// footer
.footer {
  height: 70px;
  background-color: #343a40;
}
