/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

html {
  font-size: 62.5%;
  a:hover {
    text-decoration: none;
  }
}

// header
header {
  nav {
    height: 90px;
    padding: 0 30px;
    #logo {
      font-size: 3rem;
      // margin-left: 50px;
      margin-top: 18px;
    }
    ul {
      height: 80px;
      float: right;
      width: 280px;
      text-align: right;
      li {
        font-size: 2rem;
        margin-top: 30px;
        a {
          margin-right: 10px;
        }
        .dropdown-item {
          font-size: 1.5rem;
          width: 130px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

// wrapper
.wrapper {
  width: 970px;
  margin: 30px auto 0;
}

// form
.registration-form {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
    margin-top: 20px;
  }
  .form {
    width: 600px;
    margin-top: 20px;
    label {
      font-size: 1.7rem;
    }
    input {
      font-size: 1.7rem;
    }
    .btn {
      height: 40px;
      width: 140px;
      // background-color: #59bb0c;
      // border-color: #4ea30a;
    }
    .password-reset {
      margin-top: 10px;
      a {
        font-size: 1.5rem;
      }
    }
  }
  .name_and_image {
    .image {
      float: left;
      text-align: center;
      height: 100px;
      .gravatar_link {
        font-size: 1.2rem;
        text-align: center;
      }
    }
    .user_name {
      vertical-align: middle;
      float: left;
      margin-left: 20px;
      height: 100px;
      h1 {
        margin-top: 32px;
      }
    }
  }
}

// games form
.games_form {
  select {
    font-size: 1.4rem;
  }
  textarea {
    font-size: 1.4rem;
  }
  #file_field {
    font-size: 1.4rem;
    height: 36px;
  }
}

// games index
// .index_games:nth-child(n + 2) {
//   margin-top: 20px;
// }
.index_games {
  div:nth-child(n + 2) {
    margin-top: 20px;
  }
  .index_game_info {
    .index_jacket {
      width: 150px;
      float: left;
    }
    .index_jacket:hover {
      opacity: 0.7;
    }
    .index_info {
      width: 730px;
      float: left;
      margin: 20px;
      list-style: none;
      a {
        color: black;
      }
      a:hover {
        opacity: 0.5;
      }
    }
  }
}

// games show
.game_info {
  .jacket {
    float: left;
    width: 280px;
  }
  .info {
    float: left;
    width: 650px;
    margin-left: 30px;
    .release_date, .developer, .summary, a {
      font-size: 1.4rem;
    }
  }
}
.youtube {
  margin-top: 20px;
}

// error messages
#error_explanation {
  // color: red;
  // ul {
  //   margin-bottom: 30px;
  // }
  font-size: 1.5rem;
}

// alert
.alert {
  font-size: 1.5rem;
}

// users index
.users {
  list-style: none;
  // margin: 20px 0 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    a {
      vertical-align: middle;
    }
    span {
      vertical-align: middle;
    }
    .name {
      margin-left: 20px;
      font-size: 2rem;
      color: black;
    }
    .delete {
      font-size: 1.5rem;
      color: #007bff;
      margin-left: 13px;
    }
    .delete:hover {
      color: #0056b3;
    }
  }
}

// page nation
.page {
  margin: 20px 0;
  font-size: 1.5rem;
  .page-link {
    color: #333333;
  }
}

// footer
footer {
  margin-top: 20px;
  height: 70px;
  background-color: #343a40;
}
